
    <div class="my-2 min-h-screen">
        <div class="px-3 py-4 shadow-lg shadow-red-500 header-bg text-2xl
         font-semibold tracking-wide text-gray-700">
            Retrive Password
        </div>
        <div class="w-full shadow-lg shadow-red-500 p-3 bg-white flex justify-end ">
            <form action="" class="w-2/5">
                <fieldset class="border border-black px-4 pt-1">
                    <legend class="text-base text-semibold p-1">
                        Please enter your email address below. 
                    </legend>
                    <div>
                        <label for="email" class="block text-xs font-bold mb-2">
                            Email Address 
                            <span class="text-bold text-green-600">*</span>
                        </label> 
                        <input type="email" name="email" 
                        class="block w-full p-1 border text-sm border-black rounded-sm">
                    </div>
                    <div class="my-4 flex justify-center">
                        <button class="px-4 py-1 bg-green-600 text-white text-sm text-bold border-b-2 border-red-600">
                         Continue
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>



