<div class="mx-3 my-4 bg-white">
    <div class="w-full shadow-lg shadow-red-500 bg-gray-300 text-3xl text-bold px-4 py-6">
        <h1>Online Aptitude test for Customer Service Executive</h1>
    </div>
    <div class="bg-white py-3 shadow-lg shadow-red-500 text-left">
        <span class="text-xl p-4 text-normal">INSTRUCTIONS</span>
        <hr class="mx-3  my-2 border-dotted border-black">
        <p class="mx-3 my-3 text-base font-normal">
            Please read the following instructions/guidelines carefully before
            starting <strong>Online Test:</strong>
        </p>
        <div class="">
            <ul class="list-decimal mx-12 leading-loose">
                <li class="">The test will commence at 
                    <strong class="underline">11:00 AM</strong> and conclude at
                    <strong class="underline">11:25 AM.</strong>
                </li>

                <li class="">The total duration of the test is
                     <strong>25 minutes.</strong>
                </li>
                <li class="text-justify">
                    All questions are Multiple Choice Questions (MCQs). 
                    A total of 50 questions, each carrying 1 mark,
                    will be provided sequentially. You can select an answer 
                    or skip a question without answering. Once
                    you proceed, you cannot go back to the previous question.
                </li>
                <li class="">
                    Each correct answer earns one mark.
                </li>
                <li class="">
                    <strong>
                        There will be a deduction of 0.25 marks for each incorrect answer.
                    </strong>
                </li>
                <li class="">
                    No marks will be counted or deducted for skipped questions.
                </li>
                <li>
                    Google Chrome or Mozilla Firefox is the preferred web browsers.
                </li>
                <li class="">
                    "Proceed to Start Test" button will be available 15 minutes
                     before the test begins.
                </li>
            </ul>
            <hr class="my-6 mx-3 border-black border-dotted">

            <p class="mx-3 my-4 text-xl">Exam Date & Time: 
                <span class="text-red-500">Saturday, 24 August 2024 at 11:00AM</span>
            </p>
        </div>

    </div>


</div>
