<div class="min-h-screen border-r border-red-500">
    <div class="mt-4 mb-2 container flex justify-center">
        <img src="images/useravater.png" alt="Oval Shaped Image"
            class="h-24 w-32 rounded-full object-cover border border-black" />
    </div>
    <p class="text-center">test3</p>
    <hr class="border-black border-dotted">

    <button class="mt-2 bg-green-600 w-[98%] px-6 py-2 text-left
     text-white text-sm rounded-r-full">Online Aptitude test
    </button>

    <button class="mb-2 w-[98%] px-6 py-2 text-left
     text-black text-sm hover:bg-red-600 hover:rounded-r-full">Sign Out
    </button>
    <hr class="border-black border-dotted">

</div>
